@{
    var model = ViewBag.data1;
    var shared= ViewBag.data2;
    
    
}

<div class="row mt-5">

    @foreach (var item in model)
    {
        <div class="card col-md-3 mx-2 mb-3 p-0">
            <div class="card-body">
                <h4 class="card-title text-danger">@item.item.Name </h4>
                <div class="card-text">
                    <form method="get">
                        <button name="share" class="btn btn-success" value="@item.item.Id" asp-action="Owner" type="submit">share</button>
                    </form>
                    <h6>owner: @item.owner</h6>
                    <h6>Type: @item.type</h6>
                    <h6>price: @item.item.Price</h6>
                    <h6>Discription: @item.item.Description</h6>
                    <form method="get">
                        <button name="add" class="btn btn-success" value="@item.item.Id" asp-action="Owner" type="submit">add to cart</button>
                    </form>
                </div>
                <img width="70" height="70" src="~@item.item.Image" alt="img" />
            </div>
        </div>
    }

    @foreach (var item in shared)
    {
        <div class="card col-md-3 mx-2 mb-3 p-0">
            <div class="card-body">
                <h4 class="card-title text-danger">@item.item.Name </h4>
                <div class="card-text">
                    <form method="get">
                        <button name="share" class="btn btn-success" value="@item.item.Id" asp-action="Owner" type="submit">share</button>
                    </form>
                    <h6>shared item</h6>
                    <h6>owner: @item.owner</h6>
                    <h6>Type: @item.type</h6>
                    <h6>price: @item.item.Price</h6>
                    <h6>Discription: @item.item.Description</h6>
                    <form method="get">
                        <button name="add" class="btn btn-success" value="@item.item.Id" asp-action="Owner" type="submit">add to cart</button>
                    </form>
                </div>
                <img width="70" height="70" src="~@item.item.Image" alt="img" />
            </div>
        </div>
    }




</div>


