@model IEnumerable<ITEM>

    <div class="col-md-6 mx-auto">
        <h1>Item</h1>
        <br />
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Name: </th>
                    <th>Type: </th>
                    <th>Original Amount: </th>
                    <th>Available Amount: </th>
                    <th>Price: </th>
                    <th>Date: </th>
                    <th>Description: </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>@item.Original_Count</td>
                    <td>@item.Available_Count</td>
                    <td>@item.Price</td>
                    <td>@item.Date</td>
                    <td>@item.Description</td>
                </tr>

                }
            </tbody>
        </table>
    </div>
